// Basic config containing all params and profiles

// Global Paramaters
params {
    // Mandatory Inputs - Must set these for pipeline to start
    directory               = null
    human_ref               = null

    // Mandatory Inputs with Preset Values
    mpx_ref                 = "$baseDir/data/NC_063383.fasta"
    mpx_ref_id              = 'NC_063383.1'
    pcr_csv                 = "$baseDir/data/nml_primers.csv"

    // Optional Inputs
    composite_bwa_index_dir = null      // Will speed up subsequent runs!
    metadata_csv            = null      // Add metadata to output CSV. Requires column called 'sample'
                                        //    If uploading to IRIDA also needs columns 'project_id' and 'sequencing_date'

    // Optional Run Kraken2 
    kraken_db               = null      // Path to database directory, will run when given
    kraken_viral_id         = 10239     // kraken2 ID for Viruses Domain, can change it to whatever kraken taxonomic ID

    // Optional IRIDA Upload
    upload_config           = null      // IRIDA Upload config file
                                        //    Need to provide a metadata csv with columns 'sample', 'project_id' and 'sequencing_date'

    // General Nextflow
    outdir                  = "./results"
    tracedir                = "${params.outdir}/pipeline_info"
    help                    = null

    // Conda Specific
    cache                   = null
}

// Base resources config
includeConfig 'conf/resources.config'

// Profile setup for specific instances
profiles {
    standard {
        process.executor = 'local'
    }
    conda {
        // Set default conda env and build time
        process.conda = "$baseDir/environments/base.yml"
        conda.createTimeout = '2 h'

        // Set to use mamba to build faster (indev feature so may remove)
        conda.useMamba = true

        // Set config for which tools go with which env
        includeConfig 'conf/conda.config'

        // If we have a cache use that to save time
        if ( params.cache ) {
            conda.cacheDir = params.cache
        }
    }
    // NML internal config to run on cluster
    nml {
        includeConfig 'conf/custom/nml.config'
    }
    // Test config to run tests on github
    test {
        includeConfig 'conf/custom/test.config'
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${timestamp}.txt"
}
dag {
    enabled = false
    file    = "${params.tracedir}/pipeline_dag_${timestamp}.html"
}

manifest {
    name            = 'monkeypox-nf'
    author          = 'Ana Duggan and Darian Hole'
    description     = 'Generate MPXV consensus sequences and metrics from Illumina WGS data'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.10.0'
    version         = '0.2.0'
}
