// Conda environment specifications
process {
    withName: 'runKraken2' {
        conda = "$baseDir/environments/kraken2.yml"
    }
    withName: 'uploadMetadata' {
        conda = "$baseDir/environments/irida.yml"
    }
    withName: 'uploadSequenceData' {
        conda = "$baseDir/environments/irida.yml"
    }
}
