// Base Process Handling and Resources
process {
    // Allow up to 3 retries per process
    errorStrategy   = 'retry'
    maxRetries      = 3

    // Default Resources //
    cpus            = 1
    memory          = 2.GB

    // Specific Label Needs //
    withLabel: mediumProcess {
        cpus        = 3
        memory      = 12.GB
    }
    withLabel: largeProcess {
        cpus        = 4
        memory      = 16.GB
    }
    withLabel: upload {
        cpus    = 2
        memory  = 8.GB
    }

    // Specific Process Needs //
    withName: grabCompositeIndex {
        maxRetries  = 1
    }
    withName: generateCompositeIndex {
        cpus        = 1
        memory      = 8.GB
    }
}
