// Base Process Handling and Resources
process {
    // Allow up to 3 retries per process
    errorStrategy   = 'retry'
    maxRetries      = 3

    // Default Resources //
    cpus            = 1
    memory          = 6.GB

    // Specific Label Needs //
    withLabel: mediumProcess {
        cpus        = 3
        memory      = 18.GB
    }
    withLabel: largeProcess {
        cpus        = 4
        memory      = 24.GB
    }

    // Specific Process Needs //
    withName: grabCompositeIndex {
        maxRetries  = 1
    }
    withName: generateCompositeIndex {
        cpus        = 2
        memory      = 32.GB
    }
    withName: runKraken2 {
        cpus        = 12
        memory      = 24.GB
    }
}
