// NML Specific params for slurm
params {
    partition = 'queue_name'
}

// Env to fix OPENBLAS issue we've seen before on the cluster
env {
    OPENBLAS_NUM_THREADS = 12
}

// Default and Process Specific Computing Needs //
process {
    // Allow up to 3 retries per process
    errorStrategy   = 'retry'
    maxRetries      = 3

    // Default Paramaters for NML Slurm Cluster //
    executor    = "slurm"
    queue       = "${params.partition}"
    cpus        = 1
    memory      = 8.GB

    // Specific Label Needs //
    withLabel: mediumProcess {
        cpus    = 4
        memory  = 32.GB
    }
    withLabel: largeProcess {
        cpus    = 8
        memory  = 64.GB
    }

    withLabel: upload {
        cpus            = 2
        memory          = 16.GB
        errorStrategy   = 'terminate'
    }

    // Specific Process Needs //
    withName: grabCompositeIndex {
        maxRetries  = 0
    }
    withName: generateCompositeIndex {
        cpus    = 2
        memory  = 96.GB
    }
    withName: compositeMapping {
        cpus    = 24
        memory  = 96.GB
    }
    withName: runKraken2 {
        cpus    = 48
        memory  = 48.GB
    }
}
