env {
    OPENBLAS_NUM_THREADS = 2
}

process {
    // Allow up to 3 retries per process
    errorStrategy   = 'retry'
    maxRetries      = 3

    // Default Resources //
    cpus            = 1
    memory          = 4.GB

    // Specific Label Needs //
    withLabel: mediumProcess {
        cpus        = 1
        memory      = 4.GB
    }
    withLabel: largeProcess {
        cpus        = 2
        memory      = 6.GB
    }

    withName: generateCompositeIndex {
        cpus        = 1
        memory      = 6.GB
    }
    withName: runKraken2 {
        cpus        = 2
        memory      = 4.GB
    }
}
